<html>
    <body>
    <h1>Welcome to login page</h1>
    {% if error %}
    {% for err in error%}
    <div class="alert alert-danger" role="alert">
        {{err}}
    </div>
    {% endfor %}

    {% endif %}



    <form method="POST" action="/login/">
        username: <input type="text" id="username" name="username" placeholder="Enter Email Here">
        password: <input type="password" id="password" name="password" placeholder="Enter Password Here">
        <input type="submit" name="login-submit">
    </form>
</body>
</html>